.card-body {
    padding: 0px;
    margin: 0px;
}

.card {
    padding: 1rem;
}



.offSetGameCard {
    align-content: center;
    background-color: #e5c500;
    background-blend-mode: color;
    border-radius: 10px;
    margin: 1rem;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 15px 20px 15px #9c8d2b;
}

.emptyGameCard {
    width: 15.1rem;
    height: 14.1rem;

}

.building-img {
    width: 12rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 3px;
    
}

.offsetDiv2 {
    width: 12rem;
    height: 12rem;
    
}